body {
    background-color: #ffc6a4;
}

body::-webkit-scrollbar {
    display: none;
}

#letter_1 {
    z-index: 1000;
    position: fixed;
    top: 5%;
    left: 1%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 2.05s infinite;
}

#SSSSS_1 {
    position: fixed;
    top: 5%;
    left: 3%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 2.95s infinite;
}

#ggggggg_1 {
    position: fixed;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 0.8s infinite;
}

#Pqwesad {
    position: fixed;
    top: 5%;
    left: 7%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 2.15s infinite;
}

#fdgdvergf {
    position: fixed;
    top: 5%;
    left: 9%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 1.2s infinite;
}

#gretsdf {
    position: fixed;
    top: 5%;
    left: 11%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 2.25s infinite;
}

#Iasdwerasd {
    position: fixed;
    top: 5%;
    left: 13%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 20.3s infinite;
}

#qeqweqwe {
    position: fixed;
    top: 5%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 1.35s infinite;
}

#tyujthgfj {
    position: fixed;
    top: 5%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 2.35s infinite;
}

#qweqwefsddczx {
    position: fixed;
    top: 5%;
    left: 19%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 4.4s infinite;
}

#tryghf {
    position: fixed;
    top: 5%;
    left: 21%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 2.45s infinite;
    animation-delay: 1s;
}

#uyoyuj {
    position: fixed;
    top: 5%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 2.5s infinite;
}

#utyitjhngf {
    position: fixed;
    top: 5%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    animation: move 2.55s infinite;
}

@keyframes move {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

#detonator {
    position: absolute;
    top: 90px;
    left: 37%;
    margin-right: 10px;
    border-top-right-radius: 90px;
    border-bottom: none;
    background: radial-gradient(#828282, #000000);
    color: white;
    width: 300px;
    rotate: 45deg;
}

#high {
    rotate: 180deg;
    background: #ff863a;
    width: 80%;
    height: 225px;
    position: absolute;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform .8s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
    top: 576px;
    left: 10%;
    z-index: 122;
}

#lower-and-loweer {
    background: #ff863a;
    width: 80%;
    height: 225px;
    position: absolute;
    padding-left: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: transform .8s ease-in-out;
    top: 495px;
    left: 10%;
}

#writen {
display: none;
}

#BOMBS {
    position: absolute;
    z-index: 111111111;
}

#BOMB_1 {
    position: fixed;
    left: 70%;
    animation: where-are-you-going 20s infinite;
}

#BOMB_1_body-part {
    height: 120px;
    width: 90px;
    background-color: #ff0000;
    position: absolute;
    border-radius: 50% / 60px;
    transform: scale(.75);
}

#BOMB_1_horse-tail {
    height: 25px;
    width: 25px;
    background-color: #ff0000;
    border-top-right-radius: 100%;
    rotate: 135deg;
    position: absolute;
    left: 33px;
    top: 104px;
    z-index: -111;
}

#BOMB_1_viz {
    height: 150px;
    width: 2px;
    background-color: black;
    position: absolute;
    top: 105px;
    left: 34px;
    rotate: 8deg;
}

#BOMB_2 {
    position: fixed;
    animation: where-are-you-going 1000s infinite;
    animation: Wake-up-to-reality 20s infinite;
}

#BOMB_2_body-part {
    height: 120px;
    width: 90px;
    background-color: #533aff;
    position: absolute;
    border-radius: 50% / 60px;
    transform: scale(.75);
}

#BOMB_2_horrse--tail {
    height: 25px;
    width: 25px;
    background-color: #533aff;
    border-top-right-radius: 100%;
    rotate: 135deg;
    position: absolute;
    left: 33px;
    top: 104px;
    z-index: -111;
}

#BOMB_2_ruler {
    height: 150px;
    width: 2px;
    background-color: black;
    position: absolute;
    top: 105px;
    left: 52px;
    rotate: 355deg;
}

#BOMB_3 {
    position: fixed;
    left: 177px;
    animation: where-are-you-going 15s infinite;
}

#BOMB_3_human-body {
    height: 120px;
    width: 90px;
    background-color: #00d83c;
    position: absolute;
    border-radius: 50% / 60px;
    transform: scale(.75);
}

#BOMB_3_bisht {
    height: 25px;
    width: 25px;
    background-color: #00d83c;
    border-top-right-radius: 100%;
    rotate: 135deg;
    position: absolute;
    left: 33px;
    top: 104px;
    z-index: -111;
}

#BOMB_3_liner {
    height: 150px;
    width: 2px;
    background-color: black;
    position: absolute;
    top: 105px;
    left: 38px;
    rotate: 6deg;
}


@keyframes where-are-you-going {
    0% {
        transform: translateY(-999px);
    }
    100% {
        transform: translateY(999px);
    }
}

@keyframes Wake-up-to-reality {
    0% {
        transform: translate(550px, -2000px);
    }
    100% {
        transform: translate(-100px, 500px);
    }
}

#jisdofgnortshgukdfjnboufsdighirstbnvousdhfgjbdfgfdgiudsfgh {
    position: absolute;
    left: 1000000px;
    top: 1000000px;
}

#hisfduhfushdifh {
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 70px solid red;
    position: absolute;
    top: 410px;
    left: 80px;
}

#hisfduhfushdifh_2 {
    height: 270px;
    width: 80px;
    position: absolute;
    background-color: #0600ff;
    top: 480px;
    left: 100px;
}

#down {
    position: absolute;
    left: 88%;
    z-index: -999999;
}